.custom-navbar {
  background-color: #00142E;
  padding: 1rem 2rem;
}


.custom-navbar .navbar-brand {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 1rem;
}

.custom-navbar .nav-link {
  color: #ffffff;
  margin-right: 1rem;
  font-size: 1.2rem;
}

.custom-navbar .nav-link:hover {
  opacity: 0.7;
}


.custom-navbar .navbar-toggler {
  border-color: silver;
}

.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='silver' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/ %3E%3C/svg%3E");
}

.navbar .nav-item.active .nav-link {
  color: #c7ef00 !important;
  /* text-decoration: underline; */
}

