<div *ngIf="vehicle" class="card shadow-sm my-3">
  <!-- Header -->
  <div class="card-header d-flex justify-content-between align-items-center">
    <h4 class="mb-0">Edit Maintenance Details</h4>
    <div>
      <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
    </div>
  </div>

  <!-- Body -->
  <div class="card-body">
    <!-- Vehicle Title with Icon -->
    <div class="d-flex align-items-center mb-2">
      <img
        src="../../../assets/auto-logo.png"
        alt="car icon"
        style="width: 50px; height: 50px"
        class="me-3"
      />

      <div>
        <h5 class="mb-1">
          {{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }} {{ vehicle.trim }}
        </h5>
        <small class="text-muted">
          {{ vehicle.driveType }} • {{ vehicle.engine }} • {{ vehicle.fuelType }}
        </small>
      </div>
    </div>
  </div>
</div>

<hr class="my-1 border border-secondary border-2" />

<!-- Maintenance Edit Form -->
<div *ngIf="vehicle" class="card shadow-sm my-3">
  <!-- Header -->
  <div class="card-header d-flex align-items-center">
    <img
      src="../../../assets/service-icon.png"
      alt="car icon"
      class="me-3"
      style="width: 50px; height: 50px"
    />
    <h4 class="mb-0">Add Maintenance History Item</h4>
  </div>
  <!-- Body -->
  <div class="card-body">
    <form id="maintenance-edit" #f="ngForm">
      <!-- <form id="maintenance-edit" (ngSubmit)="onSubmit(f)" #f="ngForm"></form> -->

      <!-- <div class="input-group mb-2">
        <span class="input-group-text" id="type">Maintenance Type</span>
        <input type="text" class="form-control" />
      </div> -->

      <div class="input-group mb-2">
        <span class="input-group-text" id="type">Maintenance Type</span>
        <select class="form-control" [(ngModel)]="maintenanceRecord.type" name="type" required>
          <option *ngFor="let t of maintenanceTypes" [value]="t">
            {{ t }}
          </option>
        </select>
      </div>

      <div class="input-group mb-2">
        <span class="input-group-text" id="action">Action</span>
        <select class="form-select">
          <option selected>Select Action</option>
          <option value="Inspect">Inspect</option>
          <option value="Replace">Replace</option>
          <option value="Change">Change</option>
          <option value="Clean">Clean</option>
          <option value="Tighten">Tighten</option>
          <option value="Lubricate">Lubricate</option>
          <option value="Rotate">Rotate</option>
          <option value="Other">Other</option>
        </select>
      </div>

      <div class="input-group mb-2">
        <span class="input-group-text" id="datePerformed">Date Performed</span>
        <input type="date" class="form-control" />
      </div>
      <div class="input-group mb-2">
        <span class="input-group-text" id="mileage">Mileage</span>
        <input type="number" class="form-control" />
      </div>
      <!-- <div class="input-group mb-2">
        <span class="input-group-text" id="partsReplaced">Parts Replaced</span>
        <input type="text" class="form-control" />
      </div> -->

      <div class="mb-2">
        <div class="input-group mb-2">
          <span class="input-group-text">Parts Replaced</span>
          <button class="btn btn-success" type="button" (click)="addPart()">Add Part</button>
        </div>

        <div
          *ngFor="let part of maintenanceRecord.partsReplaced; let i = index"
          class="input-group mb-2"
        >
          <input
            type="text"
            class="form-control w-50"
            placeholder="Part name"
            [(ngModel)]="part.name"
            name="partName{{ i }}"
            required
          />
          <span class="input-group-text" id="quantity">Qty</span>
          <input
            type="number"
            class="form-control"
            placeholder="Qty"
            [(ngModel)]="part.quantity"
            name="partQty{{ i }}"
            min="1"
          />
          <span class="input-group-text" id="cost">Cost $</span>
          <!-- <span class="input-group-text">$</span> -->
          <input
            type="number"
            class="form-control"
            placeholder="Cost"
            [(ngModel)]="part.cost"
            name="partCost{{ i }}"
            min="0"
            step="0.01"
          />

          <button class="btn btn-danger" type="button" (click)="removePart(i)">X</button>
        </div>
      </div>

      <div class="input-group mb-2">
        <span class="input-group-text" id="totalCost">Total Cost $</span>
        <input type="number" class="form-control" />
      </div>
      <!-- <div class="input-group mb-2">
        <span class="input-group-text">$</span>
        <input type="number" class="form-control" step="0.01" placeholder="0.00" />
      </div> -->
      <div class="input-group mb-2">
        <span class="input-group-text" id="notes">Notes</span>
        <textarea class="form-control" rows="3"></textarea>
      </div>

      <button class="btn btn-primary me-2" type="submit" [disabled]="f.invalid">Submit</button>
      <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
    </form>
  </div>
</div>
